body {
  font-family: "Space Mono", Helvetica, sans-serif;
}
h2 {
  margin : 5px 0;
}
ul {
  padding-left : 20px;
}
.wrapper {
  max-width :  1024px;
}
.resume {
  display: grid;
  grid-template-columns: 1fr;
  box-shadow           : 0 5px 9px 0 rgba(0, 0, 0, 0.35);
  grid-gap             : 5px;
  grid-template-areas:
    "photo"
    "name"
    "contacts"
    "about"
    "work"
    "education"
    "skills"
    "community";
}
.circle {
  border       : 1px solid black;
  height       : 115px;
  width        : 115px;
  margin       : 0 auto;
  padding      : 25px 15px 15px 25px;
  border-radius: 50%;
}
.grid-area {
  padding: 1em 1em 1em 1em;
}
.name {
  grid-area : name;
}

.photo {
  grid-area : photo;
}
.contacts {
  grid-area : contacts;
}
.about {
  grid-area : about;
}
.work {
  grid-area : work;
}
.education {
  grid-area : education;
}
.skills {
  grid-area : skills;
}

.community {
  grid-area : community;
}

@media (min-width: 767px) {
  .resume {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "name photo"
      "work contacts"
      "about education"
      "skills skills";
  }
}
@media (min-width: 1023px) {
  .resume {
    grid-template-areas:
      "name photo"
      "contacts photo"
      "work education"
      "about about"
      "skills skills";
  }
}
